$internal-form-checkbox-image: '../../../../../src/assets/icons/svg/CheckboxFilledIcon.svg';
$internal-form-radio-image: '../../../../../src/assets/icons/svg/RadioFilledIcon.svg';
$form-radio-size: 25px;
$form-radio-background: #e3e3e3;
$form-radio-checked-background: #fff;
$form-radio-checked-focus-background: $form-radio-checked-background;
$form-radio-focus-background: $form-radio-background;
