.custom-radio {
  background-color: #fff !important;
  min-width: 1.25rem !important;
  min-height: 1.25rem !important;
  margin: unset !important;
  border-color: #bbb9b9 !important;

  &:checked {
    background-color: #fff !important;
    background-image: url("../../../../assets/icons/svg/RadioFilledIcon.svg") !important;
  }

  &:focus {
    border-color: #bbb9b9 !important;
  }
}
