.chip {
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  color: #8692a6;
  padding-inline: 0.5625rem;
  padding-block: 0.875rem;
  border: 1px solid transparent;
  cursor: pointer;

  &.active {
    background-color: #4fac8d;
    color: #fff;
  }

  & .label {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  &:hover {
    background-color: #8692a6;
    color: #f0f0f0;

    path {
      stroke: #f0f0f0;
    }
  }
}
