.card {
  background: #ffffff;
  border: 1px solid #395f8c;
  box-shadow: 6px 6px 14px 1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 18px !important;
  cursor: pointer;

  > .card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #395f8c;
    margin-bottom: 29px;
  }

  .cart-list {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #6e798c;
  }
  &.active {
    background-color: #ecf5ff;
    color: #fff;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #f8fbff;
      color: #f0f0f0;
    }
  }
}
